@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300italic,400italic,600italic,700italic,800italic,300);
@import "variable";
body {
  margin: 0;
  padding: 0;
}
.message {
  color:@warning;
  display: none;
}
#err-msg {
  color:@warning;
  height: 20px;
  display: none;
  width: 200px;  
}
h3 {
  color:@heading;
  text-align:center;
}
h1 {
  float: left;
  padding: 15px;
  margin: 0;
}
header{
  overflow: hidden;
  ul{
    li{
      cursor: pointer;
      display:inline;
      padding: 5px;
    }
  }
}
input {
  width:100%;
}
.require {
  color:@warning;
}
label {
  font-size:12px;
}
.submit-btn {
  clear:both;
  
  input {
    width:10%;
    height:37px;
  }
}
.wrapper {
  border-bottom: 2px solid @header-border-color;
  background-color: @footer-background;
  clear: both;
  height: 75px;
    
  .navigation {
    float: right;
    padding: 10px;
    width: 30%;
  }
}
.footer-wrapper {
  ul {
    list-style-type:none;
    
    li {
      cursor:pointer;
      display:inline;
      padding:10px;    
    }
    
    &.active {
      background-color:@heading;
      border-radius: 9px;
    }
  }
}
.social-links {
  margin:0 auto;
  width:30%;
}
.copyright {
  font-size: 15px;
  margin: 0 auto;
  width: 23%;
}
.err {
  display:block;
}
.cell-wrapper {
  height: 442px;
  position:relative;
  
  span {
    display: inline-block;
    font-size: 13px;
    font-weight: 500;
    width: 100%;
  }
  
  .author {
    font-style: italic;
    font-weight: 400;
  }
  
  img {
    border-radius: 9px 9px 0 0;
    height: 235px;
    width:100%;
  }
  
  .detail {
    border: 2px solid @image-border;
    border-radius: 5px;
    padding: 0;
  }
  
  .description {
    font-size: 15px;
    font-weight: 300;
    margin-top: 30px;
  }
  
  .link {
    border: 1px solid @image-border;
    text-align: center;
    background-color:@cell-wrap-link;
    padding: 9px;
    border-radius: 0 0 9px 9px;
  }
}
.short-detail {
  padding: 10px;
}
.columns {
  float: left;
  padding: 11px;
  width: 20%;
}
.col {
  float:left;
  width:50%;
}
.ribbon {
  background-color: @ribbon-tag;
  border: 1px solid grey;
  border-radius: 8px 0px 0px 8px;
  position: absolute;
  right: 3px;
  top: 28px;
}
.container-class {
  width:80%;
  margin: 36px auto;
}
.img {
  border: 2px solid @image-border;
  border-radius: 9px 9px 0 0;
  height: auto;
  overflow: hidden;
}
footer {
  padding: 12px;
}
.clear {
  clear:both;
}
.container {
  margin: 10px;
  width: 100%;
  
  .aside {
    float:left;
    width:15%;
  }
  
  #unique {
    border-left: 1px solid @container-background;
    overflow: hidden;
    width:80%;
  }
}
.book-list {
  width: 50%;
}
.book-list {
  list-style-type: none;
  li {
    a {
      color: black;
      cursor: pointer;
      text-decoration: none;
    }
  }
  
  .book-data {
     background-color: @footer-background;
     color: black;
     margin: 5px;
     padding: 10px;
     text-align: center;
    
   &.active {
     background-color: @active-tab;
     color: white;
    }
  }
}
.footer-wrapper {
  background-color: @footer-background;
  clear: both;
  height: auto;
  
  .footer-links {
     margin: 0 auto;
     padding: 15px;
     width: 43%;
  }
}
.short-detail {
  .title {
    font-weight: 600;
  }
}
#modal-container {
  title {
    width: 100%;
    }
    
  header {
    border-bottom: 2px solid @header-border-color;
    color: @default-color;
    overflow: hidden;
    padding: 19px;
    text-align: center;
    
    h3 {
      display: inline;
      font-family: 'open-sans';
    }
  }
}
section{
  color : @default-color;
  margin-top: 15px;
  overflow: hidden;
  
  .book-image {
    float: left;
    margin-left: 20px;
    width: 25%;
    
    img {
      width: 100%;
    }
  }
  
  .content {
    overflow: hidden;
    padding: 15px;
    width:65%;
  }
  
  .short-details{
    overflow: hidden;
    padding: 10px 0px;
  }
}
.modal-dialog{
    background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
    bottom: 0;
    position: fixed;
    right: 0;
    top: 0;
    
    .dialog-content{
      background: @dialog-box-color none repeat scroll 0 0;
      border-radius: 10px;
      height: 340px;
      margin: 2% auto;
      padding: 0 0 13px;
      width: 50%;
      
      .footer{
        border-top: 2px solid @header-border-color;
        clear: both;
        padding: 0px;
      }
    }
}
.close {
    background: @close-btn-background none repeat scroll 0 0;
    border-radius: 12px;
    box-shadow: 1px 1px 3px @box-shadow;
    color: @close-btn-color;
    font-weight: bold;
    line-height: 25px;
    padding: 0;
    position: absolute;
    right: 330px;
    text-align: center;
    text-decoration: none;
    top: 11px;
    width: 22px;
}
.close {
  &:hover {
    background: @close-button;
  }
}
.short-detail {
  .title {
    a {
      color: @title-color;
      font-family: "open-sans";
      font-size: 15px;
      font-weight: 600;
      text-decoration: none;
    }
  }
}
.navigation {
  li {
    i {
      padding: 5px;
    }
  }
}
.loading-image{
  text-align: center;
  display: none;
}