@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300italic,400italic,600italic,700italic,800italic,300);
body {
  margin: 0;
  padding: 0;
}
.message {
  color: #ff0000;
  display: none;
}
#err-msg {
  color: #ff0000;
  height: 20px;
  display: none;
  width: 200px;
}
h3 {
  color: #3b86c2;
  text-align: center;
}
h1 {
  float: left;
  padding: 15px;
  margin: 0;
}
header {
  overflow: hidden;
}
header ul li {
  cursor: pointer;
  display: inline;
  padding: 5px;
}
input {
  width: 100%;
}
.require {
  color: #ff0000;
}
label {
  font-size: 12px;
}
.submit-btn {
  clear: both;
}
.submit-btn input {
  width: 10%;
  height: 37px;
}
.wrapper {
  border-bottom: 2px solid #d3d3d3;
  background-color: #e3e5e7;
  clear: both;
  height: 75px;
}
.wrapper .navigation {
  float: right;
  padding: 10px;
  width: 30%;
}
.footer-wrapper ul {
  list-style-type: none;
}
.footer-wrapper ul li {
  cursor: pointer;
  display: inline;
  padding: 10px;
}
.footer-wrapper ul.active {
  background-color: #3b86c2;
  border-radius: 9px;
}
.social-links {
  margin: 0 auto;
  width: 30%;
}
.copyright {
  font-size: 15px;
  margin: 0 auto;
  width: 23%;
}
.err {
  display: block;
}
.cell-wrapper {
  height: 442px;
  position: relative;
}
.cell-wrapper span {
  display: inline-block;
  font-size: 13px;
  font-weight: 500;
  width: 100%;
}
.cell-wrapper .author {
  font-style: italic;
  font-weight: 400;
}
.cell-wrapper img {
  border-radius: 9px 9px 0 0;
  height: 235px;
  width: 100%;
}
.cell-wrapper .detail {
  border: 2px solid #eeeeee;
  border-radius: 5px;
  padding: 0;
}
.cell-wrapper .description {
  font-size: 15px;
  font-weight: 300;
  margin-top: 30px;
}
.cell-wrapper .link {
  border: 1px solid #eeeeee;
  text-align: center;
  background-color: #f6f6f6;
  padding: 9px;
  border-radius: 0 0 9px 9px;
}
.short-detail {
  padding: 10px;
}
.columns {
  float: left;
  padding: 11px;
  width: 20%;
}
.col {
  float: left;
  width: 50%;
}
.ribbon {
  background-color: #44ffff;
  border: 1px solid grey;
  border-radius: 8px 0px 0px 8px;
  position: absolute;
  right: 3px;
  top: 28px;
}
.container-class {
  width: 80%;
  margin: 36px auto;
}
.img {
  border: 2px solid #eeeeee;
  border-radius: 9px 9px 0 0;
  height: auto;
  overflow: hidden;
}
footer {
  padding: 12px;
}
.clear {
  clear: both;
}
.container {
  margin: 10px;
  width: 100%;
}
.container .aside {
  float: left;
  width: 15%;
}
.container #unique {
  border-left: 1px solid #d3d3d3;
  overflow: hidden;
  width: 80%;
}
.book-list {
  width: 50%;
}
.book-list {
  list-style-type: none;
}
.book-list li a {
  color: black;
  cursor: pointer;
  text-decoration: none;
}
.book-list .book-data {
  background-color: #e3e5e7;
  color: black;
  margin: 5px;
  padding: 10px;
  text-align: center;
}
.book-list .book-data.active {
  background-color: #337ab7;
  color: white;
}
.footer-wrapper {
  background-color: #e3e5e7;
  clear: both;
  height: auto;
}
.footer-wrapper .footer-links {
  margin: 0 auto;
  padding: 15px;
  width: 43%;
}
.short-detail .title {
  font-weight: 600;
}
#modal-container title {
  width: 100%;
}
#modal-container header {
  border-bottom: 2px solid #d3d3d3;
  color: #000000;
  overflow: hidden;
  padding: 19px;
  text-align: center;
}
#modal-container header h3 {
  display: inline;
  font-family: 'open-sans';
}
section {
  color: #000000;
  margin-top: 15px;
}
section .book-image {
  float: left;
  margin-left: 20px;
  width: 25%;
}
section .book-image img {
  width: 100%;
}
section .content {
  overflow: hidden;
  padding: 15px;
  width: 65%;
}
section .short-details {
  overflow: hidden;
  padding: 10px 0px;
}
.modal-dialog {
  background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
  bottom: 0;
  position: fixed;
  right: 0;
  top: 0;
}
.modal-dialog .dialog-content {
  background: #e6f1f6 none repeat scroll 0 0;
  border-radius: 10px;
  height: 340px;
  margin: 2% auto;
  padding: 0 0 13px;
  width: 50%;
}
.modal-dialog .dialog-content .footer {
  border-top: 2px solid #d3d3d3;
  clear: both;
  padding: 0px;
}
.close {
  background: #606061 none repeat scroll 0 0;
  border-radius: 12px;
  box-shadow: 1px 1px 3px #000000;
  color: #ffffff;
  font-weight: bold;
  line-height: 25px;
  padding: 0;
  position: absolute;
  right: 330px;
  text-align: center;
  text-decoration: none;
  top: 11px;
  width: 22px;
}
.close:hover {
  background: #00d9ff;
}
.short-detail .title a {
  color: #000000;
  font-family: "open-sans";
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
}
.navigation li i {
  padding: 5px;
}
.loading-image {
  text-align: center;
}
