body {
  margin: 0;
  padding: 0;
}
.message {
  color: #ff0000;
  display: none;
}
#err-msg {
  color: #ff0000;
  height: 20px;
  display: none;
  width: 200px;
}
h3 {
  color: #3b86c2;
  text-align: center;
}
h1 {
  margin: 0;
}
input {
  width: 100%;
}
.require {
  color: #ff0000;
}
label {
  font-size: 12px;
}
.submit-btn {
  clear: both;
}
.submit-btn input {
  width: 11%;
  height: 37px;
}
.wrapper {
  border-bottom: 2px solid #d3d3d3;
  background-color: #e3e5e7;
  clear: both;
}
.wrapper .navigation {
  margin: 16px auto;
  width: 50%;
}
.wrapper .footer-links {
  margin: 0 auto;
  width: 43%;
}
ul {
  list-style-type: none;
}
ul li {
  cursor: pointer;
  display: inline;
  padding: 10px;
}
ul li.active {
  background-color: #3b86c2;
  border-radius: 9px;
}
.social-links {
  margin: 0 auto;
  width: 30%;
}
.copyright {
  font-size: 15px;
  margin: 0 auto;
  width: 23%;
}
.err {
  display: block;
}
.cell-wrapper {
  height: 442px;
  position: relative;
}
.cell-wrapper span {
  display: inline-block;
  font-size: 13px;
  font-weight: 500;
  width: 100%;
}
.cell-wrapper .author {
  font-weight: 300;
}
.cell-wrapper img {
  border-radius: 9px 9px 0 0;
  width: 100%;
}
.cell-wrapper .detail {
  border: 1px solid #eee;
  border-radius: 5px;
  padding: 0;
}
.cell-wrapper .detail .short-detail {
  height: 73px;
  padding: 15px;
}
.cell-wrapper .description {
  font-weight: 300;
  padding: 5px;
}
.cell-wrapper .link {
  border: 1px solid #eee;
  text-align: center;
  background-color: #F6F6F6;
  padding: 9px;
  border-radius: 0 0 9px 9px;
}
.columns {
  float: left;
  padding: 11px;
  width: 20%;
}
.col {
  float: left;
  width: 50%;
}
.ribbon {
  background-color: #4FF;
  border: 1px solid grey;
  border-radius: 0px 0px 6px 6px;
  position: absolute;
  right: 0px;
  top: 28px;
  width: 55%;
}
.container-class {
  width: 80%;
  margin: 36px auto;
}
.img {
  height: 244px;
  overflow: hidden;
}
footer {
  padding: 12px;
}
.clear {
  clear: both;
}
