.wrap {
  width: 100%;
}
header {
  background-color: #b7ce4a;
  color: white;
  text-align: center;
  padding: 30px;
  height: 50px;
}
header .logo {
  float: left;
  width: 30px;
  height: 30px;
  font-style: italic;
  font-weight: bold;
}
header .title {
  font-size: 25px;
  font-weight: bold;
}
header .contactus {
  float: right;
  background-color: #ea8f2c;
  color: #ffffff;
  font-weight: bold;
  padding: 13px 7px 7px 13px;
  border-radius: 8px;
  cursor: pointer;
}
header .contactus:hover {
  background-color: #eee;
  color: #ea8f2c;
}
nav {
  width: 250px;
  float: left;
  padding: 1px;
  height: 1300px;
  border-right: thin solid #6260EA;
}
nav .navmenu {
  height: 42px;
  padding: 5px;
  text-align: center;
  width: 240px;
  cursor: pointer;
}
nav .navmenu:hover {
  background-color: #DDD0D0;
}
nav .navmenu .navmenutext {
  font-weight: bold;
  cursor: pointer;
  color: #B7CE4A;
  text-decoration: none;
}
nav .navmenu .navmenutext .active {
  font-weight: bold;
  cursor: pointer;
  color: #F29222;
}
nav .navmenu .navmenutext:hover {
  color: #ffffff;
  font-weight: bold;
  font-style: oblique;
}
.bgEEE {
  background: #DDD0D0;
}
.greyboxpadding {
  overflow-x: hidden;
}
.box-container {
  background: none repeat scroll 0 0 #ffffff;
  border-radius: 8px;
  float: left;
  height: 445px;
  width: 225px;
  margin: 10px;
}
.box-container .image-container {
  margin-bottom: 32px;
  margin-top: 0px;
  width: 225px;
  height: 255px;
}
.box-container .image-container .image-box {
  width: 225px;
  height: 285px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.box-container .book-title {
  font-size: 14px;
  font-style: normal;
  height: 35px;
  padding: 5px;
  width: 215px;
  text-align: center;
  font-weight: bold;
  color: #0000 !important;
}
.box-container .book-description {
  color: #999;
  font-size: 12px;
  font-style: normal;
  width: 215px;
  padding: 1px;
  height: 50px;
  text-align: center;
}
.box-container .bottom-description {
  width: 225px;
  margin-left: 0px;
  height: 44px;
  cursor: pointer;
}
.box-container .bottom-description .bottom-description-button {
  float: left;
  font-size: 12px;
  height: 25px;
  margin: 10px;
  width: 55px;
}
.box-container .bottom-description .bottom-description-button .pint-button {
  background-color: #D22A32;
  border-radius: 2px;
  color: #FFFFFF;
  padding: 5px;
  width: 55px;
  margin: 2px;
}
.box-container .bottom-description .bottom-description-button .pint-button :hover {
  background-color: #EA8A8A;
  color: #ffffff;
}
.box-container .bottom-description .bottom-description-button .send-button {
  background-color: #969696;
  border-radius: 2px;
  color: #ffffff;
  padding: 5px 10px;
  width: 55px;
  margin: 5px;
}
.box-container .bottom-description .bottom-description-button .send-button:hover {
  background-color: #D2D3CF;
  color: #ffffff;
}
.box-container .bottom-description .bottom-description-button .like-button {
  background-color: #B7CE4A;
  border-radius: 2px;
  color: #ffffff;
  padding: 5px 13px;
  width: 45px;
  margin: 1px;
}
.box-container .bottom-description .bottom-description-button .like-button:hover {
  background-color: #D1EF7C;
  color: #ffffff;
}
.hr-line {
  margin-bottom: 5px;
  border-top: thin solid;
  border-color: #DDD0D0;
}
.loading-indicator {
  color: #686eed;
  text-align: center;
}
.pagination-box {
  height: 40px;
}
.pagination-box .dotNavholder {
  margin: 0 auto;
  width: 125px;
  padding: 5px;
  height: 30px;
}
.pagination-box .dotNavholder .pgDot {
  background: transparent url("/oranjdot-blank.jpg") no-repeat scroll 0 0;
  display: block;
  height: 19px;
  /*margin-top: 3px;*/
  width: 25px;
  float: left;
}
.pagination-box .dotNavholder .pgDot .active {
  background: transparent url("/oranjdot1.jpg") no-repeat scroll 0 0;
  display: block;
  height: 19px;
  width: 25px;
}
.pagination-box .dotNavholder .pgDot:hover {
  background: transparent url("/oranjdot1.jpg") no-repeat scroll 0 0;
  display: block;
  height: 19px;
  width: 25px;
}
.description-book-container {
  background: #DDD0D0 none repeat scroll 0 0;
  height: 1000px;
  margin: 10px;
}
.description-book-container .description-book-leftbar {
  height: 560px;
  margin-bottom: 32px;
  margin-top: 0;
  width: 425px;
  float: left;
}
.description-book-container .description-book-leftbar .description-image-box {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 560px;
  width: 425px;
}
.description-book-container .description-book-rightbar {
  background-color: #ffffff;
  border-radius: 8px;
  float: left;
  margin-left: 5px;
}
.description-book-container .description-book-rightbar .description-book-title {
  font-size: 17px;
  font-style: normal;
  font-weight: bold;
  height: 50px;
  padding: 5px;
  text-align: center;
  width: 490px;
}
.description-book-container .description-book-rightbar .description-book-content {
  color: #999;
  font-size: 17px;
  font-style: normal;
  height: 300px;
  overflow: auto;
  padding: 15px;
  text-align: center;
  width: 470px;
}
.description-book-container .description-book-rightbar .description-book-bottom {
  height: 160px;
  margin-left: 0;
  width: 500px;
}
.description-book-container .description-book-rightbar .description-book-bottom .book-label {
  float: left;
  width: 90px;
  padding: 5px;
}
.description-book-container .description-book-rightbar .description-book-bottom .book-detail {
  float: left;
  width: 130px;
  padding: 5px;
}
footer {
  text-align: center;
  color: white;
  background-color: #3333ad;
  padding: 10px;
  clear: both;
}
