<h1>Subscribers list</h1>

  <% @newsletters.each do |newsletter| %>
  <div>
  	<%= newsletter.username %>
  	<%= link_to 'Unsubscribe', unsubscribe_path(id: newsletter.id),
                                    method: :delete,
                                    data: { confirm: 'Are you sure?' } %>
  </div>
    
  <% end %>